@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default;
}

@plugin "@tailwindcss/typography";

:root {
  --background: #faf0e6;
  --foreground: #171717;
}

[data-theme="light"] {
  --s: 349 100% 84%;
  --sc: 0 0% 100%;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

.btn-secondary {
  background-color: #ffadb7 !important;
  border-color: #ffadb7 !important;
  color: #352f31 !important;
}

.btn-secondary:hover {
  background-color: #ff97a3 !important;
  border-color: #ff97a3 !important;
}

.text-secondary {
  color: #ffadb7 !important;
}

.badge-secondary {
  background-color: #ffadb7 !important;
  border-color: #ffadb7 !important;
  color: #ffffff !important;
}
